a{
   
    background-color: rgb(158, 196, 229);
   padding: 8px 14px 8px 14px;
    border-radius: 2px;
    text-decoration: none;
}
a:hover{
    background-color: rgb(145, 151, 155);
}
input{
    padding: auto;
    width: 40px;
    height: 35px;
    background-color: rgb(192, 221, 245);
    border: none;

}
h1,h4,div{
    margin: 50px;
}
